
@mixin mocka() {
	.#{$mocka-prefix}-#{$mocka-container} {
		width: 100%;
		position: relative;
		height: 9.5rem;
	}
	.#{$mocka-prefix}-#{$mocka-media}, .#{$mocka-prefix}-#{$mocka-heading}, .#{$mocka-prefix}-#{$mocka-text} {
		&, &:before, &:after {
			position: absolute;
		  background: #bdbdbd;
		}
	}

	.#{$mocka-prefix}-#{$mocka-media} {
		top: $mocka-media-top;
		left: $mocka-media-left;
		width: $mocka-media-width;
		height: $mocka-media-height;
		&:before, &:after {
			top: $mocka-dots-top;
			border-radius: $mocka-dots-border-radius;
			background: $mocka-dots-background;
			height: $mocka-dots-height;
			width: $mock-dots-width;
			content: '';
		}
		&:before {
			left: $mocka-dots-left-margin;
			animation: mocka-dot-a 1.8s ease infinite;
		}
		&:after {
			left: 2.75rem;
			animation: mocka-dot-c 1.8s ease infinite;
		}
	}
	.#{$mocka-prefix}-#{$mocka-heading} {
		left: $mocka-heading-left;
		top: $mocka-heading-top;
		width: calc(100% - $mocka-heading-offset);
		&, &:before {
			height: $mocka-heading-height;
		}
		&:before, &:after {
			content: '';
		}
		&:before {
			width: $mocka-heading-subline-width;
			top: $mocka-heading-subline-top;
		}
		&:after {
			top: 1.375rem;
	    left: -2.75rem;
			border-radius: $mocka-dots-border-radius;
			background: $mocka-dots-background;
			height: $mocka-dots-height;
			width: $mock-dots-width;
	    animation: mocka-dot-b 1.8s ease infinite;
		}
	}
	.#{$mocka-prefix}-#{$mocka-text} {
		top: $mocka-text-top;
		left: $mocka-text-left;
		width: calc(85% - $mocka-text-paddings);
		&, &:before, &:after {
			height: $mocka-text-height;
		}
		&:before, &:after {
			content: '';
		}
		&:before {
			top: 1.25rem;
			width: calc(120% - $mocka-text-paddings);
		}
		&:after {
			top: 2.5rem;
			width: calc(95% -  - $mocka-text-paddings);
		}
	}
}
/* TODO: Add -webkit- keyframes */
@keyframes mocka-dot-a {
  8% {
    transform: translateY(0rem);
  }
  22% {
    transform: translateY(-0.3125rem);
  }
  36% {
    transform: translateY(0rem);
  }
}

@keyframes mocka-dot-b {
  36% {
    transform: translateY(0rem);
  }
  50% {
    transform: translateY(-0.4375rem);
  }
  64% {
    transform: translateY(0rem);
  }
}

@keyframes mocka-dot-c {
  64% {
    transform: translateY(0rem);
  }
  78% {
    transform: translateY(-0.3125rem);
  }
  92% {
    transform: translateY(0rem);
  }
}
